<?xml version="1.0" encoding="UTF-8"?>
<!--
/*
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         colors="true"
         bootstrap="../../../../dev/tests/unit/framework/bootstrap.php"
        >
    <testsuite name="Dsync Magento Unit Tests">
        <directory suffix="Test.php">.</directory>
    </testsuite>
    <php>
        <ini name="date.timezone" value="America/Los_Angeles"/>
        <ini name="xdebug.max_nesting_level" value="200"/>
    </php>
    <filter>
        <whitelist>
            <directory>.</directory>
            <exclude>
                <directory suffix="Test.php">.</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
    </logging>
</phpunit>